<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
    {% csrf_token %}
    <input type="hidden" name="product_size" value="{{ item.size }}">
    <input type="hidden" name="product_color" value="{{ item.colour }}">
    <div class="col-12">
        <p><strong>Quantity:</strong></p>
        <input type="number" class="form-control rounded-0 w-50" name="quantity" id="id_qty_{{ item.item_id }}" value="{{ item.quantity }}" min="1" max="99">
    </div>
</form>

<a class="update-link text-info"><small>Update</small></a>
<a class="remove-item text-danger float-right" id="remove_{{ item.id }}" data-product_size="{{ item.size }}" data-product_color="{{ item.colour }}"><small>Remove</small></a>

<script>

    document.querySelectorAll('.update-form').forEach(form => {
        const itemId = form.getAttribute('data-item_id');
        const qtyInput = document.getElementById(`id_qty_${itemId}`);
        const decrementBtn = document.getElementById(`decrement-qty_${itemId}`);

    decrementBtn.addEventListener('click', () => {
        qtyInput.value = Math.max(1, parseInt(qtyInput.value, 10) - 1);
        decrementBtn.disabled = qtyInput.value == 1;
    });

    
    document.getElementById(`increment-qty_${itemId}`).addEventListener('click', () => {
        qtyInput.value = Math.min(99, parseInt(qtyInput.value, 10) + 1);
        decrementBtn.disabled = false;
    });

 
    qtyInput.addEventListener('change', () => {
        qtyInput.value = Math.min(99, Math.max(1, parseInt(qtyInput.value, 10)));
        decrementBtn.disabled = qtyInput.value == 1;
    });
});

</script>
