{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="logo-font my-0">
                        <strong>Heavenly</strong> <i class="fa-solid fa-dumbbell text-white"></i></h1>
                    </h1>
                    <h3 class="large">
                        The New Arrivals At The Yoga Shop are NOW HERE!
                    </h3>
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p style="color: purple;">&copy; {{ current_year }}2023 HEAVENLY Yoga Shop. All rights reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="social-media-links">
                            <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/your-profile" target="_blank"><i class="fab fa-linkedin"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        
{% endblock %}
