.order-history {
    max-height: 416px;
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: pink;
}

#profile-update-form input::placeholder {
    color: pink;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #aab7c4;
}

#id_default_country option:first-child {
    color: pink;
}