html {
    height: 100%;
}

body {
    background: url("/media/yoga2.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    height: calc(100vh - 164px);
    color: plum;
    font-family: 'lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    color: rgb(155, 50, 141);
    margin-top: 50px;
}
h2.logo-font {
    font-weight: 900;
    margin-top: 50px;
}
h3 {
    color: pink;
    
}
.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: palevioletred;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: palevioletred;
    color: white;
    border: 2px solid black;
}
.btn-outline-black {
    background: rgb(146, 77, 146);
    color: plum;
    border: 2px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: pink;
    color: white;
}

.text-black {
    color: rgb(206, 43, 70) !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000;
}

.dropdown-item {
    color: plum;
}
.text-muted {
    color: #dc3545!important;
    font-size: 1.2rem;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: pink;
    color: purple;
}
#main-nav {
    height: 0px;
}
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/*---Bootstarp Toast---*/

.toast-capper {
    height: 3px
}
.custom-toast {
    overflow: visible;
}
.message-container {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999999999;
}

/* ---Media Queries---*/

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}