<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop All 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Yoga
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=Foam Roller" class="dropdown-item">ActiveProducts &amp; Essentials</a>
                <a href="{% url 'products' %}?category=Yoga Blocks"class="dropdown-item">Yoga Blocks</a>
                <a href="{% url 'products' %}?category=Yoga Bundle" class="dropdown-item">Yoga Bundles</a>
                <a href="{% url 'products' %}?category=Yoga Mats" class="dropdown-item">Yoga Mats</a>
                <a href="{% url 'products' %}?category=Foam Roller" class="dropdown-item">Foam Roller</a>
                <a href="{% url 'products' %}?category=Yoga Assessories" class="dropdown-item">Yoga Accessories</a>
                <a href="{% url 'products' %}?category=Yoga and Pilates Wheel" class="dropdown-item">Yoga and Pilates Wheel</a>
                <a href="{% url 'products' %}?category=Yoga Blocks, Yoga Bundle,Yoga Mats,Foam Roller,Yoga Assessories,Yoga and Pilates Wheel" class="dropdown-item">All YogaItems</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Conditioning
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=Aerobic" class="dropdown-item"></a>
                <a href="{% url 'products' %}?category=AB_Wheel" class="dropdown-item">AB Wheel</a>
                <a href="{% url 'products' %}?category=Skipping" class="dropdown-item">Skipping Ropes</a>
                <a href="{% url 'products' %}?category=Jump_Box" class="dropdown-item">Jump Boxes</a>
                <a href="{% url 'products' %}?category=Aerobic" class="dropdown-item">Aerobic Exercise Steppers</a>
                <a href="{% url 'products' %}?category=AB_Wheel,Skipping,Jump_Box,Aerobic" class="dropdown-item">All Conditioning Products</a>
            </div>
           
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Compression
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=Arm" class="dropdown-item"></a>
                <a href="{% url 'products' %}?category=Ankle" class="dropdown-item">Ankle</a>
                <a href="{% url 'products' %}?category=Arm" class="dropdown-item">Arm</a>
                <a href="{% url 'products' %}?category=Back" class="dropdown-item">Back</a>
                <a href="{% url 'products' %}?category=Calf" class="dropdown-item">Calf</a>
                <a href="{% url 'products' %}?category=Elbow" class="dropdown-item">Elbow</a>
                <a href="{% url 'products' %}?category=Knee" class="dropdown-item">Knee</a>
                <a href="{% url 'products' %}?category=Leg" class="dropdown-item">Leg</a>
                <a href="{% url 'products' %}?category=Palm" class="dropdown-item">Palm</a>
                <a href="{% url 'products' %}?category=Posture" class="dropdown-item">Posture</a>
                <a href="{% url 'products' %}?category=Sholder" class="dropdown-item">Sholder</a>
                <a href="{% url 'products' %}?category=Socks" class="dropdown-item">Socks</a>
                <a href="{% url 'products' %}?category=Ankle,Arm,Back,calf,Elbow,Knee,Leg,Palm,Posture,Sholder,Socks" class="dropdown-item">All Compression Products</a>
            </div>
           
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meditation
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=Arm" class="dropdown-item"></a>
                <a href="{% url 'products' %}?category=Meditation Benches" class="dropdown-item">Meditation Benches</a>
                <a href="{% url 'products' %}?category=	Meditation Rugs" class="dropdown-item">Meditation Rug</a>
                <a href="{% url 'products' %}?category=Meditation Cushions" class="dropdown-item">Meditation Cushions Or Zafas</a>
                <a href="{% url 'products' %}?category=Essential_Oils" class="dropdown-item">Essential Oils & Incense</a>
                <a href="{% url 'products' %}?category=Candels" class="dropdown-item">Candels</a>
                <a href="{% url 'products' %}?category=Meditation Benches,Meditation Rugs,Meditation Cushions,Essential_oils,Candels,Essential_Oils" class="dropdown-item">All Meditation Products</a>
            </div>
           
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>